body{
    background-color:rgba(84, 84, 133, 0.575);
    color:white;
    font-family:  "Red Hat Display", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: rgba(141, 68, 156, 0.288);
    color: white;
    font-family:  "Red Hat Display", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 80%;
}
